<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Servicios - Diseño Multimedia</title>
</head>
<body>
    <header>
        <div class="Title">
            <h2><span class="diseño">Diseño</span> <span class="multimedia">Multimedia</span></h2>
        </div>
        <div class="nav"> 
            <a href="../index.html">INICIO</a>
            <a href="./nosotros.html">NOSOTROS</a>
            <a class="pagina-activa" href="./servicios.html">SERVICIOS</a>
            <a href="./contacto.html">CONTACTO</a>
        </div>
    </header>
    <main>
        <div class="suscription">
            <div class="text-suscription">
                <h3>Suscribete a nuestro boletin</h3>
            </div>
            <div class="subscription-box">
                <form>
                    <input type="email" placeholder="Ingrese el Email..." required>
                    <button type="submit" class="Subscribete">Subscribete</button>
                </form>
            </div>
        </div>
        <div class="block-servicios">
            <div class="servicios-container">
                <div class="servicios-content">
                    <div class="servicios-text">
                        <h3>Servicios</h3>
                        <div class="servicio-item">
                            <h4>Diseño Web</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptates nam dolores deserunt libero. Nihil molestias minima sed quibusdam alias est delectus, fuga quos autem minus consequatur tempora ad nam!</p>
                            <p class="precio">Precio: $300</p>
                        </div>
                        <div class="servicio-item">
                            <h4>Desarrollo Web</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptates nam dolores deserunt libero. Nihil molestias minima sed quibusdam alias est delectus, fuga quos autem minus consequatur tempora ad nam!</p>
                            <p class="precio">Precio: $500</p>
                        </div>
                        <div class="servicio-item">
                            <h4>Hosting Web</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptates nam dolores deserunt libero. Nihil molestias minima sed quibusdam alias est delectus, fuga quos autem minus consequatur tempora ad nam!</p>
                            <p class="precio">Precio: $100</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-grey-3">
                <h3>Que hacemos</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum similique sit, excepturi quaerat deserunt quisquam atque repudiandae! Mollitia ullam illo repudiandae earum, saepe placeat aperiam nulla, unde, eos sed sit.</p>
            </div>
        </div>
    </main>
    <footer>
        <div class="Copyright">
            <p>Graphel Desarrollo Web, Copyright&copy; 2017</p>
        </div>
    </footer>
</body>
</html>